h1, p {
  font-family: Lato;
}
.col-sm-2{
  background-color:#3333ff; 
  height: 30px;
  border-style: ridge;
}
.col-sm-4{
background-color: white  ; height:200px ; margin-top:5px ; border-style: solid;  border-width:20px ; border-color: #b3e0ff
}


  .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width : 150px;

}
